<!doctype html>
<html>
<head>
  <title>sirAccordion</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../dist/styles/sir-accordion.css"/>
  <link rel="stylesheet" href="styles.css"/>
  <style type="text/css">
    html{
      height: 100%;
    }
    body{
      height: 100%;
    }
    .container{
      min-height: 100%;
    }
  </style>
</head>
<body ng-app="sirAccordion" ng-controller="Principal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Sir Accordion</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          If you set the autoCollapse to false you can use this cool buttons
        </p>
        <p>
          <button ng-click="expandAll()" class="btn btn-primary">Expand all</button>
          <button ng-click="collapseAll()" class="btn btn-primary">Collapse all</button>
          <button ng-click="toggleAutoCollapse()" class="btn btn-primary">toggle autoCollapse</button>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div sir-accordion collection="accordionArray" config="accordionConfig"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <blockquote>
          <p>
            Awesome dynamic, recursive, customizable and multilevel <strong>Accordion Menu</strong> for <strong>AngurlarJS</strong>, that builds up from a JSON object and an optional configuration object. <strong>You can download the project for a live demo in the example folder (don't forget to bower install dependencies)</strong> and for better understanding.
          </p>
          <p>
            <strong>No jQuery needed</strong>
          </p>
          <p>
            Go to the <a href="https://github.com/SirIdeas/sirAccordion">Project page</a> for a how to use
          </p>
        </blockquote>
      </div>
    </div>
  </div>
  <script src="../bower_components/fastclick/lib/fastclick.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/velocity/velocity.min.js"></script>
  <script src="../dist/scripts/sir-accordion.js"></script>
  <script src="app.js"></script>
</body>
</html>