<!doctype html>
<html>
<head>
  <title>sirAccordion</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../dist/styles/sir-accordion.css"/>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body ng-app="sirAccordion" ng-controller="Principal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Sir Accordion</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>To expand a content given a coord e.g: 1-1, put the coord in the input and click the expand buttom</p>
        <div class="row">
          <div class="form-group col-xs-5 col-sm-3">
            <form ng-submit="expandByCoord()">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="coord" placeholder="Coordinate">
                <input type="submit" style="display:none">
                <div class="input-group-addon clickable" ng-click="expandByCoord()">
                  <span class="glyphicon glyphicon-collapse-down"></span>
                </div>
              </div>
            </form>
          </div>
          <div class="col-xs-7 col-sm-4 no-padding-left">
            <button ng-click="expandAll()" class="btn btn-primary" ng-class="{'disabled': accordionConfig.autoCollapse}">Expand all</button>
            <button ng-click="collapseAll()" class="btn btn-primary">Collapse all</button>
          </div>
          <div class="col-xs-12 col-sm-5">
            <button ng-click="toggleAutoCollapse()" class="btn btn-primary" ng-cloak>toggle autoCollapse: {{accordionConfig.autoCollapse}}</button>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div class="content-wrap">
      <div class="row full-height">
        <div id="scroller" class="col-xs-12 col-sm-6 full-height scrollable">
            <div sir-accordion collection="accordionArray" config="accordionConfig"></div>
        </div>
        <div class="hidden-xs col-sm-6">
          <div ng-include="'accordionContent/top/1-1.html'">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../bower_components/fastclick/lib/fastclick.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/velocity/velocity.min.js"></script>
  <script src="../dist/scripts/sir-accordion.js"></script>
  <script src="app.js"></script>
</body>
</html>